@font-face {
  font-family: 'icomoon';
  src:  url('..//fonts/icomoon.eot?wm76x');
  src:  url('..//fonts/icomoon.eot?wm76x#iefix') format('embedded-opentype'),
    url('..//fonts/icomoon.ttf?wm76x') format('truetype'),
    url('..//fonts/icomoon.woff?wm76x') format('woff'),
    url('..//fonts/icomoon.svg?wm76x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e900";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter1:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
